body {
    margin: 0;
}

.fullscreen-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em;
}

.overlay button:hover {
    background: darkblue;
    color: white;
}
